html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
